H2 {
    text-align: center;
    color: blueviolet;
}
P {
    text-align: center;
    color: blueviolet;
}
div.answers {
    width: 200px;
    height: 200px;
}
#header-img img {
    width: 100%;
    height: auto;
}